
  <tbody>
    <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://419a5ecf000c70751b96-2d268c5dae618615daa5314a1f0f4b99.r77.cf1.rackcdn.com/restaurants-irs/235125/EclipseCocktails1.png');">
      <div class="banner-content">
        <h1>Cocktails</h1>
        <p>Your best cocktail book</p>
        <a class="btn btn-primary btn-lg" <%= link_to 'New Cocktail', new_cocktail_path %> </a>
      </div>
    </div>
    <div class = "main-container">
      <div class="row">
        <% @cocktails.each do |cocktail| %>
          <div class = "col-xs-12 col-sm-6 col-md-4 col-lg-3">
            <div class ="card">
              <tr>
                  <td><%= cocktail.name %></td>
                  <td><i class="fa fa-glass" aria-hidden="true"></i></td>
              </tr>
                  <br>
                  <td><%= link_to 'Show', cocktail %></td>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </tbody>


<br>

