.add-footer{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.add-contain {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

#add-form {
  width: 400px;
}

.add-row {
  align-items: center;
}

#add-button {
  margin: 15px;
}
